.ant-card{
  .ant-card-head {
    min-height: 32px;
    padding: 0 16px
  }
}

.ant-card-actions {
  padding: 16px !important;
  display: block;
  margin: 0;
}
.ant-card.p-0{
  .ant-card-head{
      margin-bottom: 0;
  }
  .ant-card-body{
      padding: 0px;
  }
}
.ant-card-hoverable{
  &:hover {
    box-shadow: 0px 0px 0px 1px #dddddd;
    border-color: $color-primary;
  }
}